.ballFather {
    position: fixed;
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    transition: all 0.6s cubic-bezier(0.65, 0.06, 0.94, 0.31);
    /*   */
    /* y轴很慢  x轴运动很快  1s y走 10 px   x走 20px */
}

.ballSon {
    width: 0.2rem;
    height: 0.2rem;
    background: #3190e8;
    border-radius: 50%;
    transition: all 0.6s linear;
}